.front {
	background-color: #7ed493;
	position: absolute;
	width:100%;
	height:100%;
}
.front__header{
	margin-top:2rem;
}
.front__header .front__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.front__header .front__img-box {
	padding-top: 50px;
	padding-bottom: 40px;
}
.front__header .front__avocado {
	width:150px;
}
.front__main .front__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.front__main .front__box {
	width: 70%;
}
.front__main{
	margin:0;
}
.front__id, .front__pw {
	width:100%;
	height: 40px;
}
.front__button{
	width:102%;
	height: 40px;
}
.front__content .front__id, .front__pw {
	border:1px solid #CCCCCC;
}
.front__content .front__button {
	margin-top: 5px;
	color: white;
	border:0;
	background-color:#c89a4f;
	display:flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.front__list{
	display:flex;
	justify-content:space-around;
	align-items: center;
	opacity:0.6;
	padding-right: 50px;
	padding-left: 50px;
	margin-top: 10px;
}
.front_nav_item{
	text-decoration: none;
	color:black;
}
.pointer{
	cursor: pointer;
}
